@import url("main.css");


#about {
    width: 100%;
    height: auto;
    margin-top: 30vh;
    padding-top: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.profile {
    width: 100%;
    margin: 0vh 3vw 20vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.profile p {
    margin-top: 3vh;
    font-size: 16px;
    letter-spacing: 0.08vw;
}

#me {
    margin-left: 10vw;
    margin-top: 3vh;
    width: 12vw;
}

#blossom-4 {
    margin-top: 5vh;
    width: 3vw;
    align-self: center;
}

#hampter {
    margin-right: 10vw;
    margin-top: 30vh;
    width: 10vw;
}