@import url("main.css");

header {
    width: 100%;
    min-height: 95vh;
    padding-top: 0.01vw;
    display: relative;
}


#intro {
    line-height: 1vw;
    padding-left: 3vw;
    top: 1vw;
    position: absolute;
}

#blossom-bg {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    overflow-x: hidden;
}

#blossom-1 {
    margin-left: -0.3vw;
    margin-top: min(-20px, -4vmin);
    display: flex;
    flex-grow: 1;
}

#blossom-1 img {
    width: 38vw;
    height: auto;
}

#blossom-2 {
    margin-right: -1vw;
    margin-top: max(400px, 65vh);
    justify-content: end;
    display: flex;
    flex-grow: 1;
}

#blossom-2 img {
    width: 30vw;
    height: auto;
}

.greeting {
    font-size: 1.6rem;
    margin-top: 20vw;
    font-weight: 800;
}

.greeting img {
    width: 50px;
}

/* --------------------------BOXES---------------------------- */
#intro-container {
    min-height: 350px;
    margin: 38vh 36vw 0;
    position: relative;
}

.intro-box {
    background-image: url('../content/intro-window-1.png');
    background-size: cover;
    width: 27.5vw;
    height: 14.75vw;
    position: absolute;
    margin: auto;
    min-width: 300px;
    min-height: 160.91px;
    font-size: 1rem;
}

#intro-box-1 {
    top: min(-0.5em, -1.2vh);
    left: 0vw;
    z-index: 1;
}

#intro-box-2 {
    background-image: url('../content/intro-window-2.png');
    top: max(1.05em, 1vh);
    left: 1.5vw;
    z-index: 2;
}

/* --------------------------NAVIGATION BAR---------------------------- */
#navbar {
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    transition: top 0.3s;
    align-items: center;
    text-align: center;
    border-bottom: solid var(--primary-border);
    background-color: var(--navbg);
    backdrop-filter: blur(4px);
    z-index: 10;
}

.logo {
    margin-left: 1vw;
    padding: 0.3em 0.4em;
    color: var(--primary);
    font-size: 1.7em;
    letter-spacing: 0.1em;
    text-decoration: none;
}

.sections {
    width: 40vw;
    margin-right: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sections a {
    padding: 0.7em 0.8em;
    text-decoration: none;
    font-size: 1.1em;
    letter-spacing: 0.3em;
    transition: color 200ms;
}

.lilac {
    color: var(--secondary-1);
}

.pink {
    color: var(--secondary-2)
}

/* Change the color of links on hover */
.sections a:hover {
    color: var(--primary);
}

/*Changes the color to the active/current link */
.sections a.active {
    color: var(--primary);
}

.navbar-toggle {
    display: none;
}

.resume a {
    align-items: center;
    padding-right: 0.5em;
    color: var(--secondary-3);
}

.resume a:hover {
    color: var(--primary);
}

.resume a.active {
    color: var(--primary);
}

#night-mode {
    width: 3.5rem;
    height: 3rem;
    background-color: var(--clear);
    border: none;
    cursor: pointer;
}

#night-mode:hover #moon {
    filter: drop-shadow(0 0 0.55rem var(--primary));
}

#moon {
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    box-shadow: 0.55em 0.55em 0 0 var(--primary);
    top: -0.6rem;
}