@import url("main.css");

#projects {
    width: 100%;
    min-height: 120vh;
    display: block;
}

#projects a {
    text-decoration: none;
    color: var(--baby-pink);
    font-family: 'Inter';
}

#projects h2 {
    color: var(--secondary-1)
}

#project-content {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin: 0 24.5vw;
    justify-content: center;
}

#project-items {
    width: 70%;
    height: auto;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}

#blossom-3 {
    position: absolute;
    right: 0px;
    margin-top: max(1000px, 130vh);
}

#blossom-3 img {
    width: 25vw;
    height: auto;
    opacity: 0.65;
}

.title {
    margin-bottom: 2vh;
}

.title span {
    color: var(--baby-pink);
    font-size: 0.75em;
    align-items: end;
}

.project-item {
    border: solid var(--secondary-border);
    width: 26vw;
    padding: 1vw 1.3vw;
    margin-top: 5vh;
    margin-bottom: 0vh;
}

.project-text {
    line-height: 3.5vh;
}

.tags {
    font-family: "Consolas", monaco, monospace;
    font-size: 12px;
    color: var(--tags);
    margin: 0vh;
    text-align: end;
}

.tags span {
    padding-left: 1vw;
}

/* -------------------------- FEATURED ---------------------------- */

#featured-project {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-grow: 1;
    margin-left: 5vw;
    justify-content: center;
    color: var(--primary);
}

#featured-container {
    display: flex;
    width: 20vw;
    height: auto;
    background-color: var(--boxbg);
    margin-top: 23.2vh;
    flex-direction: column-reverse;
    justify-content: space-between;
}

#featured-info {
    display: flex;
    max-width: 19.5vw;
    flex-direction: column;
    justify-content: center;
    margin: 2vh 1.5vw;
    line-height: 3vh;
}

#featured-carousel {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

#dotpos {
    position: absolute;
    width: max-content;
    bottom: min(280px, 34vh);
    right: max(105.75px, 7.25vw);
}

.screenshot {
    display: relative;
    animation-name: fade;
    animation-duration: 1.5s;
    width: 100%;

}

.hide {
    display: none;
}

.screenshot img {
    max-width: 20vw;
    height: auto;
    margin: 0;
    padding: 0;

}


#featured-carousel a {
    color: var(--raisin-black)
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: var(--clear-cosmic-latte);
}

.dot {
    text-align: center;
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    padding: 2px;
    background-color: var(--clear-raisin);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.1s ease;
}

.activedot,
.dot:hover {
    background-color: var(--clear-cosmic-latte);
}

.featured-tags {
    color: var(--featured-tags);
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}