:root {
    font-size: 15px;
    --navbar-height: 70px;
    --antique-brass: #b98b73;
    --light-antique-brass: #cb997e;
    --desert-sand: #ddbea9;
    --champagne-pink: #ffe8d6;
    --linen: #fff1e8;
    --baby-powder: #fffcf9;
    --bone: #d4c7b0;
    --ash-gray: #b7b7a4;
    --artichoke: #a5a58d;
    --ebony: #6b705c;
    --black-olive: #3f4238;
    --charleston-green: #242621;
}

body::-webkit-scrollbar {
    width: 0.6rem;
}

body::-webkit-scrollbar-thumb {
    background:rgba(107, 112, 92, 0.3);
}

html, body {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    font-family: 'Cardo', serif;
    background-color: var(--baby-powder);
}

*, *:before, *:after {
    box-sizing: inherit;
}

nav {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    transition: top 0.3s;
}

ul, li {
    display: inline;
}

h1 {
    font-family: cardo;
    font-size: 4.8vw;
    font-weight: normal;
    color: #3f4238;
    margin-bottom: 2.75rem;
}

h2 {
    color:var(--artichoke);
    font-family: cardo;
    font-weight: normal;
    font-size: 3vw;
}

h3 {
    color: #6b705c;
    font-family: 'Inter', sans-serif;
    font-weight:600;
    font-size: 1.1vw;
    margin-top: 0.1rem;
    margin-bottom: 0;
}

h4  {
    font-weight: normal;
    color: #6b705c;
    font-size: max(10px, 1.25vw);
}

h5  {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    color: #3f4238;
    font-size: 1.1vw;
    padding-top: 0.7rem;
}

.intro h5 {
    color: #6b705c;
    font-family: 'Cardo', serif;
}
p {
    font-size: 15px;
    font-weight: normal;
    color: #242124;
}

#projects p {
    font-family: 'Inter', sans-serif;
}



a {
    font-family: cardo;
}

#project-items div {
    background-color:rgba(107, 112, 92, 0.1);
    width:60vw;
    flex-basis: 125px;
    flex-shrink: 1;
}

footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}

/* --------------------------NAVIGATION BAR---------------------------- */
#nav-bar {
    height: var(--navbar-height);
    align-items: center;
    text-align: center;
    background-color: rgba(255, 252, 249, 0.5);
    backdrop-filter: blur(4px);
    z-index: 10;
}

.background {
    filter: blur(4px);
    position: absolute;
    width: 100%;
    height: 100%;
}

.home img{
    margin-left: 2rem; 
}

.meow a {
    color: #b98b73;
    padding: 0.7em 0.8em;
    margin: 0px 8vw;
    text-decoration: none;
    font-size: 1.1em;
    letter-spacing: 0.3em; 
}

/* Change the color of links on hover */
.meow a:hover {
    color:var(--desert-sand);
}

/* Add a color to the active/current link */
.meow a.active {
    color:var(--desert-sand);
}

/* --------------------------BOXES---------------------------- */
.intro-box {
    background-image: url('../content/intro-window.png');
    background-size: cover;
    width:26.8vw; 
    height:13.9vw; 
    position:absolute; 
    margin:auto;
    min-width: 300px;
    min-height: 155.6px;
    font-size: 1rem;
}

.intro-box-1 {
    top:-0.5vw;
    left:0vw; 
    z-index:1;
}

.intro-box-2 {
    top:0.8vw;
    left:1.25vw; 
    z-index:2;
}

#project-items {
    width: 100%;
    min-height: 500px;
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


/* --------------------------OTHER CLASSES---------------------------- */


.intro-container {
    max-width: 28vw;
    min-height: 350px;
    flex-grow: 0.4;
    margin: auto;
    margin-top: 14rem;
    position: relative; 
    align-items: center;
}

.container {
    width: 200rem;
    min-height: 500px;
    margin: auto;
    margin-top: 2rem;
    margin-right: 20rem;
    position: relative; 
    align-items: center;
} 

.intro {
    line-height: 1vw;
    padding-left: 3.5vw;
    top: 1vw;
    position: absolute;
}

.branch-birb {
    margin-left: -0.3vw;
    margin-top: 55vh;
}

.branch-birb img {
    max-width: 14rem;
    opacity: 60%;
}

.flying-birb {
    margin-right: 0;
    padding-right: 0;
}

.flying-birb img {
    max-width: 14rem;
    opacity: 60%;
}

.greeting {
    font-size: 1.8rem;
    margin-top: 23rem;
    font-weight: 800;
}

.project-text {
    padding-left: 1.3vw;
    padding-top: 1vw;
}

.project-text p {
    color: #6b705c;
    margin-top: 0.5vw;
    margin-bottom: 0;
}

.tag {
    font-family: Consolas, monaco, monospace; 
    font-size: 12px;
    margin-top: 0vw;
    padding-right: 1.2vw;
    text-align: end;
}


.title {
    margin: auto;
    margin-top: 5rem;
    text-align: center;
    letter-spacing: 0.2rem; 
}

.profile {
    padding-left: 2vw;
    padding-right: 2vw;
    position: absolute;
}
.me {
    padding-top: 5rem;
}
.me img {
    position:relative;
    margin-left: 20vw;
    margin-top: -4rem;
    max-width: 15%;
    z-index:3;
}

/* -------------------------- OTHER ---------------------------- */
#intro {
    width: 100%;
    min-height: 500px;
    padding-top: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
}

#about {
    width: 100%;
    min-height: 500px;
    padding-top: 8vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

#projects {
    padding: 1vw;
    margin-top: 8vw;
}

#contact {
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    text-align: center;
}
/* -------------------------- MEDIA QUERIES ---------------------------- */
@media (max-width:768px) {
    
}

@media (max-width: 1000px) {
    h1 {
        font-size: 3.5rem;
    }
    .intro {
        padding-left: 2.8rem;
    }
    .branch-birb {
        display: none;
    }
    .flying-birb {
        display: none;
    }
}

@media (max-width: 1200px) {
    h1 {
        font-size: 3.5rem;
    }

    h5 {
        font-size: 1rem;
    }

    .intro-container {
        min-width: 22rem;
    }

    .intro-box-1 {
        top:-6px;
        left:8px; 
        z-index:1;
    }
    
    .intro-box-2 {
        top:9px;
        left:24px; 
        z-index:2;
    }
}

@media (max-width: 1500px) {
    
}