/* --------------------------COLOUR PALETTE---------------------------- */
/* Antique Brass, Desert Sand, Champagne Pink, linen, Bone, Ash Gray, Artichoke, Ebony, Black Olive, Charleston Green */

.abrass1 {
    color: #b98b73;
}

.abrass2 {
    color: #cb997e;
}

.dsand {
    color: #ddbea9;
}

.cpink {
    color: #ffe8d6;
}

.linen {
    color: #fff1e8;
}

.bone {
    color: #d4c7b0;
}

.agray {
    color: #b7b7a4;
}

.artichoke {
    color: #a5a58d;
}

.ebony {
    color: #6b705c;
}

.bolive {
    color: #3f4238
}

.cgreen {
    color: #242621;
}