font-face { 
    font-family: 'Cardo', serif; 
} 

html, body {
    height: 100%;
    font-size: 1rem;
}

h1 {
    font-size: 5vw;
    color: #3f4238;
}

h2 {
    color:#6b705c;
    font-size: 3vw;
}

h3 {
    color: #6b705c;
    font-size: 1.75vw;
}
h5  {
    color: #3f4238;
}

p {
    font-size: 15px;
    color: #242124;
}

body {
    font-family: Cardo;
    background-color: #FFF7EE;
}

/* --------------------------NAVIGATION BAR---------------------------- */

.topnav {
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #b98b73;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    color: #ddbea9;
}
  
/* Add a color to the active/current link */
.topnav a.active {
    color: #cb997e;
}

/* --------------------------CLASSES---------------------------- */

.center {
    text-align: center;
}

.intro {
    margin-top: 10rem;
    position: relative; 
}

.intro img {
   display: block;
   max-width: 27%;
   min-width: 10rem;
   margin: auto;
}

.header {
    margin-left: 78.25vw;
    bottom: 20%;
    position: absolute;
    width: 100%;
    align-items: center;
}

.about-title {
    margin: auto;
    margin-top: 30rem;
}

.profile {
    margin-top: 8rem;
    margin-left: 3rem;
    margin-right: 7rem;
}

.me img {
    margin-left: 15rem;
    margin-top: 3rem;
    max-width: 50%;
}

/* --------------------------COLOUR PALETTE---------------------------- */
/* Antique Brass, Desert Sand, Champagne Pink, linen, Bone, Ash Gray, Artichoke, Ebony, Black Olive, Charleston Green */

.abrass1 {
    color: #b98b73;
}

.abrass2 {
    color: #cb997e;
}

.dsand {
    color: #ddbea9;
}

.cpink {
    color: #ffe8d6;
}

.linen {
    color: #fff1e8;
}

.bone {
    color: #d4c7b0;
}

.agray {
    color: #b7b7a4;
}

.artichoke {
    color: #a5a58d;
}

.ebony {
    color: #6b705c;
}

.bolive {
    color: #3f4238
}

.cgreen {
    color: #242621;
}